body {
  background-color: #111;
  font-family: sans-serif;
  margin: 2rem;
  color: #f5a900;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.header {
  text-align: center;
}

.subtitle {
  font-size: 16px;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

th, td {
  padding: 16px;
  text-align: center;
  border-right: 1px solid #333;
  vertical-align: top;
}

th:last-child,
td:last-child {
  border-right: none;
}

th {
  background-color: #222;
}

a:link, a:visited {
  color: #f5a900;
  text-decoration: none;
}

a:hover {
  color: #ff9900;
}

.second-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.button {
  padding: 10px 20px;
  background-color: #222;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  margin: 5px;
}

.button:hover {
  background-color: #333;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}
